.LorebookDisplay-tabs {
  display: flex;
}

.LorebookDisplay-tab {
  padding: 10px;
  border: 1px solid black;
  border-bottom: 0;
  cursor: pointer;
}

.LorebookDisplay-tab:hover {
  background-color: gray;
}

.LorebookDisplay-tab__selected {
  background-color: lightgray;
}

.LorebookDisplay-body {
  border: 1px solid black;
  display: grid;
  grid-gap: 1px;
  background-color: black;
}

.LorebookDisplay-row {
  display: contents;
}

.LorebookDisplay-row:hover > .LorebookDisplay-cell {
  background-color: lightgray;
}

.LorebookDisplay-cell {
  padding: 8px;
  cursor: pointer;
  background-color: white;
  display: flex;
  align-items: center;
}

.LorebookDisplay-cell:hover {
  background-color: gray !important;
}

.LorebookDisplay-new {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  border-top: 0;
  cursor: pointer;
}

.LorebookDisplay-new:hover {
  background-color: gray;
}

.Modal-lorebook {
  position: absolute;
  inset: 100px 200px;
  border: 1px solid black;
  background: white;
  overflow: auto;
  outline: none;
  padding: 20px;
}
